Calendar_Flow.json
[
    {
        "id": "9cf5dae.217b428",
        "type": "light-scheduler",
        "z": "5865e563.6af48c",
        "settings": "b532f972.44dee8",
        "events": "[{\"start\":{\"dow\":1,\"mod\":405},\"end\":{\"dow\":1,\"mod\":420}},{\"start\":{\"dow\":2,\"mod\":405},\"end\":{\"dow\":2,\"mod\":420}},{\"start\":{\"dow\":3,\"mod\":405},\"end\":{\"dow\":3,\"mod\":420}},{\"start\":{\"dow\":4,\"mod\":405},\"end\":{\"dow\":4,\"mod\":420}},{\"start\":{\"dow\":5,\"mod\":405},\"end\":{\"dow\":5,\"mod\":420}}]",
        "topic": "",
        "name": "Sunrise",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": false,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange",
        "x": 120,
        "y": 2740,
        "wires": [
            [
                "890df5bd.bb3f78"
            ]
        ]
    },
    {
        "id": "5e60a570.99cf2c",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 2740,
        "wires": [
            [
                "ea0ec767.7dd708"
            ]
        ]
    },
    {
        "id": "890df5bd.bb3f78",
        "type": "rbe",
        "z": "5865e563.6af48c",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 210,
        "y": 2860,
        "wires": [
            [
                "5e60a570.99cf2c"
            ]
        ]
    },
    {
        "id": "dc37707a.a538",
        "type": "mqtt out",
        "z": "5865e563.6af48c",
        "name": "Send to Wake Alarm",
        "topic": "SunriseMCU/wakeAlarm",
        "qos": "0",
        "retain": "false",
        "broker": "3cc69636.e3e24a",
        "x": 740,
        "y": 2740,
        "wires": []
    },
    {
        "id": "8c66b6bc.8e92d8",
        "type": "change",
        "z": "5865e563.6af48c",
        "name": "Set to 300",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "300",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 2860,
        "wires": [
            [
                "dc37707a.a538"
            ]
        ]
    },
    {
        "id": "ea0ec767.7dd708",
        "type": "api-current-state",
        "z": "5865e563.6af48c",
        "name": "School Day HA",
        "server": "d64dbedb.b22df",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "calendar.reminders_gmail_com",
        "state_type": "str",
        "outputs": 1,
        "x": 400,
        "y": 2860,
        "wires": [
            [
                "5e41f2f2.4e8f7c"
            ]
        ]
    },
    {
        "id": "5e41f2f2.4e8f7c",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "",
        "property": "data.attributes.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "School",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 2740,
        "wires": [
            [
                "8c66b6bc.8e92d8"
            ]
        ]
    },
    {
        "id": "b8b1a4b1.6921c8",
        "type": "light-scheduler",
        "z": "5865e563.6af48c",
        "settings": "b532f972.44dee8",
        "events": "[{\"start\":{\"dow\":1,\"mod\":360},\"end\":{\"dow\":1,\"mod\":375}},{\"start\":{\"dow\":2,\"mod\":360},\"end\":{\"dow\":2,\"mod\":375}},{\"start\":{\"dow\":3,\"mod\":360},\"end\":{\"dow\":3,\"mod\":375}},{\"start\":{\"dow\":4,\"mod\":360},\"end\":{\"dow\":4,\"mod\":375}},{\"start\":{\"dow\":5,\"mod\":360},\"end\":{\"dow\":5,\"mod\":375}}]",
        "topic": "",
        "name": "Scarlett School Day",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": false,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange",
        "x": 130,
        "y": 2960,
        "wires": [
            [
                "f9aa40ba.da241"
            ]
        ]
    },
    {
        "id": "9b0c8c66.19308",
        "type": "delay",
        "z": "5865e563.6af48c",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 340,
        "y": 2960,
        "wires": [
            [
                "dc704bd8.a942a8"
            ]
        ]
    },
    {
        "id": "f9aa40ba.da241",
        "type": "rbe",
        "z": "5865e563.6af48c",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 250,
        "y": 3020,
        "wires": [
            [
                "9b0c8c66.19308"
            ]
        ]
    },
    {
        "id": "dc704bd8.a942a8",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 3020,
        "wires": [
            [
                "8e63d1ab.c0281"
            ]
        ]
    },
    {
        "id": "8e63d1ab.c0281",
        "type": "api-current-state",
        "z": "5865e563.6af48c",
        "name": "School Day HA",
        "server": "d64dbedb.b22df",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "calendar.reminders_gmail_com",
        "state_type": "str",
        "outputs": 1,
        "x": 540,
        "y": 2960,
        "wires": [
            [
                "ebe3d138.42753"
            ]
        ]
    },
    {
        "id": "ebe3d138.42753",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "",
        "property": "data.attributes.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "School",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 3020,
        "wires": [
            [
                "158ceab6.2723b5"
            ]
        ]
    },
    {
        "id": "158ceab6.2723b5",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "FF40000000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "Yellow",
        "x": 810,
        "y": 2960,
        "wires": [
            [
                "7f29f8c6.12e418"
            ]
        ]
    },
    {
        "id": "7f29f8c6.12e418",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 2960,
        "wires": [
            [
                "1a294924.b765c7"
            ],
            [
                "6e35cf84.6f38b"
            ]
        ]
    },
    {
        "id": "6e35cf84.6f38b",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "00FF000000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "green",
        "x": 810,
        "y": 3020,
        "wires": [
            [
                "5d640299.93168c"
            ]
        ]
    },
    {
        "id": "5d640299.93168c",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 3020,
        "wires": [
            [
                "1a294924.b765c7"
            ],
            [
                "4c5fff4b.41ef7"
            ]
        ]
    },
    {
        "id": "4c5fff4b.41ef7",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "1000030000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "pink",
        "x": 810,
        "y": 3080,
        "wires": [
            [
                "4f48f18.582741"
            ]
        ]
    },
    {
        "id": "4f48f18.582741",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 3080,
        "wires": [
            [
                "1a294924.b765c7"
            ],
            []
        ]
    },
    {
        "id": "1a294924.b765c7",
        "type": "mqtt out",
        "z": "5865e563.6af48c",
        "name": "",
        "topic": "cmnd/Tuya_Bulb_2/COLOR",
        "qos": "",
        "retain": "",
        "broker": "3cc69636.e3e24a",
        "x": 1200,
        "y": 3020,
        "wires": []
    },
    {
        "id": "aa08c7b.ba42f38",
        "type": "light-scheduler",
        "z": "5865e563.6af48c",
        "settings": "b532f972.44dee8",
        "events": "[{\"start\":{\"dow\":1,\"mod\":405},\"end\":{\"dow\":1,\"mod\":420}},{\"start\":{\"dow\":2,\"mod\":405},\"end\":{\"dow\":2,\"mod\":420}},{\"start\":{\"dow\":3,\"mod\":405},\"end\":{\"dow\":3,\"mod\":420}},{\"start\":{\"dow\":4,\"mod\":405},\"end\":{\"dow\":4,\"mod\":420}},{\"start\":{\"dow\":5,\"mod\":405},\"end\":{\"dow\":5,\"mod\":420}},{\"start\":{\"dow\":6,\"mod\":405},\"end\":{\"dow\":6,\"mod\":420}},{\"start\":{\"dow\":0,\"mod\":405},\"end\":{\"dow\":0,\"mod\":420}}]",
        "topic": "",
        "name": "Scarlett Nonschool Day",
        "onPayload": "ON",
        "onPayloadType": "str",
        "offPayload": "OFF",
        "offPayloadType": "str",
        "onlyWhenDark": false,
        "sunElevationThreshold": 6,
        "sunShowElevationInStatus": false,
        "outputfreq": "output.statechange",
        "x": 150,
        "y": 3240,
        "wires": [
            [
                "5ff72942.66f0a8"
            ]
        ]
    },
    {
        "id": "5ff72942.66f0a8",
        "type": "rbe",
        "z": "5865e563.6af48c",
        "name": "RBE",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 250,
        "y": 3300,
        "wires": [
            [
                "88827a45.fadc28"
            ]
        ]
    },
    {
        "id": "88827a45.fadc28",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 3300,
        "wires": [
            [
                "fd74cc54.0674c"
            ]
        ]
    },
    {
        "id": "fd74cc54.0674c",
        "type": "api-current-state",
        "z": "5865e563.6af48c",
        "name": "Nonschool Day HA",
        "server": "d64dbedb.b22df",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "calendar.reminders_gmail_com",
        "state_type": "str",
        "outputs": 1,
        "x": 550,
        "y": 3240,
        "wires": [
            [
                "a7767ba5.5a7868"
            ]
        ]
    },
    {
        "id": "a7767ba5.5a7868",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "",
        "property": "data.attributes.message",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Nonschool",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 3300,
        "wires": [
            [
                "62f52072.8c803"
            ]
        ]
    },
    {
        "id": "62f52072.8c803",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "FF40000000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "45",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "Yellow",
        "x": 810,
        "y": 3240,
        "wires": [
            [
                "11e313a9.ae722c"
            ]
        ]
    },
    {
        "id": "11e313a9.ae722c",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 3240,
        "wires": [
            [
                "a3272abb.53c4e8"
            ],
            [
                "ae53edba.dd7be"
            ]
        ]
    },
    {
        "id": "ae53edba.dd7be",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "00FF000000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "green",
        "x": 810,
        "y": 3300,
        "wires": [
            [
                "1c6e97d.eaca468"
            ]
        ]
    },
    {
        "id": "1c6e97d.eaca468",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 3300,
        "wires": [
            [
                "a3272abb.53c4e8"
            ],
            [
                "9135627d.af2d8"
            ]
        ]
    },
    {
        "id": "9135627d.af2d8",
        "type": "trigger",
        "z": "5865e563.6af48c",
        "op1": "1000030000",
        "op2": "next",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "pink",
        "x": 810,
        "y": 3360,
        "wires": [
            [
                "6f6941ff.c59c"
            ]
        ]
    },
    {
        "id": "6f6941ff.c59c",
        "type": "switch",
        "z": "5865e563.6af48c",
        "name": "next",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 950,
        "y": 3360,
        "wires": [
            [
                "a3272abb.53c4e8"
            ],
            []
        ]
    },
    {
        "id": "a3272abb.53c4e8",
        "type": "mqtt out",
        "z": "5865e563.6af48c",
        "name": "",
        "topic": "cmnd/Tuya_Bulb_2/COLOR",
        "qos": "",
        "retain": "",
        "broker": "3cc69636.e3e24a",
        "x": 1200,
        "y": 3300,
        "wires": []
    },
    {
        "id": "b532f972.44dee8",
        "type": "light-scheduler-settings",
        "z": "",
        "name": "my settings",
        "latitude": "27.890814",
        "longitude": "-82.50234640000001"
    },
    {
        "id": "3cc69636.e3e24a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.86.168",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d64dbedb.b22df",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    }
]