security_panel.json
[
    {
        "id": "3aab9115.5baa6e",
        "type": "tab",
        "label": "Alarm Panel",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c73a92ac.a6598",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 5,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "5",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "45d0628.327bd9c",
        "type": "join",
        "z": "3aab9115.5baa6e",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "c75d90e2.656b8"
            ]
        ]
    },
    {
        "id": "e95b5aa4.623bd8",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 2,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "fee22c55.0f6ee",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 3,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 239,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "c3de7df3.cb206",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 4,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "f03ceb48.b98198",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 6,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "6",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "11fbb303.76a36d",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 7,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "7",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "3c0a6037.3ab9e",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 8,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "8",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "af25acbd.3ee1f",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 9,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "9",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "7e317196.c3506",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 10,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "*",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "*",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "86196e9b.bd6db",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 11,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "3f9f83a4.ed334c",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "Message Complete",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "ec4832ed.3d80d",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 12,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Clear",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "3f9f83a4.ed334c"
            ]
        ]
    },
    {
        "id": "d8a2db66.4eb688",
        "type": "api-current-state",
        "z": "3aab9115.5baa6e",
        "name": "Alarm State",
        "server": "4ee348e3.abe878",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.alarm",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 590,
        "y": 120,
        "wires": [
            [
                "152ab09.b9d4f4f",
                "955ed12e.0045c"
            ],
            [
                "5e12b790.5d6928"
            ]
        ]
    },
    {
        "id": "5e12b790.5d6928",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "arming",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm Arming in 45 Seconds",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "armingStatus",
                "pt": "flow",
                "to": "arming",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "Arming",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "d12594ef.d18248",
                "7aa891d1.163bf",
                "457cd027.2085c"
            ]
        ]
    },
    {
        "id": "955ed12e.0045c",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "\"alarm disarmed\"",
        "rules": [
            {
                "t": "set",
                "p": "alarmStatus",
                "pt": "flow",
                "to": "Disarmed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm Disarmed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 60,
        "wires": [
            [
                "5471c7fb.5a13a8"
            ]
        ]
    },
    {
        "id": "152ab09.b9d4f4f",
        "type": "api-call-service",
        "z": "3aab9115.5baa6e",
        "name": "Disarm Alarm",
        "server": "4ee348e3.abe878",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.alarm",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 800,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "d12594ef.d18248",
        "type": "delay",
        "z": "3aab9115.5baa6e",
        "name": "Delay 45 Seconds",
        "pauseType": "delayv",
        "timeout": "45",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "6edd8b2d.296754",
                "32cf5dea.1e2432"
            ]
        ]
    },
    {
        "id": "5471c7fb.5a13a8",
        "type": "ui_audio",
        "z": "3aab9115.5baa6e",
        "name": "Alarm Disarmed",
        "group": "86203d9c.beda1",
        "voice": "en-US",
        "always": "",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "32cf5dea.1e2432",
        "type": "api-call-service",
        "z": "3aab9115.5baa6e",
        "name": "Arm Alarm",
        "server": "4ee348e3.abe878",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.alarm",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "payload",
        "output_location_type": "msg",
        "mustacheAltTags": false,
        "x": 1230,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c9027288.0b20a",
        "type": "ui_text",
        "z": "3aab9115.5baa6e",
        "group": "86203d9c.beda1",
        "order": 14,
        "width": "6",
        "height": "1",
        "name": "Alarm Status",
        "label": "Alarm Status:",
        "format": "<font color= {{msg.color}} > {{msg.message}} </font>",
        "layout": "row-spread",
        "x": 1090,
        "y": 340,
        "wires": []
    },
    {
        "id": "c75d90e2.656b8",
        "type": "switch",
        "z": "3aab9115.5baa6e",
        "name": "Right/Wrong",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "alarmCode",
                "vt": "flow"
            },
            {
                "t": "neq",
                "v": "alarmCode",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 260,
        "wires": [
            [
                "4d20414.68bf8c"
            ],
            [
                "f68bed05.7a7d7"
            ]
        ]
    },
    {
        "id": "3c4eaea1.33e402",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "notArming",
        "rules": [
            {
                "t": "set",
                "p": "armingStatus",
                "pt": "flow",
                "to": "notArming",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4d20414.68bf8c",
        "type": "switch",
        "z": "3aab9115.5baa6e",
        "name": "notArming/arming",
        "property": "armingStatus",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "notArming",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "arming",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "d8a2db66.4eb688"
            ],
            [
                "3c4eaea1.33e402",
                "7a19215c.65872"
            ]
        ]
    },
    {
        "id": "7a19215c.65872",
        "type": "trigger",
        "z": "3aab9115.5baa6e",
        "op1": "Cancelled",
        "op2": "alarmStatus",
        "op1type": "str",
        "op2type": "flow",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "ddf9e1d1.c41aa"
            ]
        ]
    },
    {
        "id": "7aa891d1.163bf",
        "type": "ui_audio",
        "z": "3aab9115.5baa6e",
        "name": "Arming 45 Seconds",
        "group": "86203d9c.beda1",
        "voice": "en-US",
        "always": "",
        "x": 1030,
        "y": 180,
        "wires": []
    },
    {
        "id": "ad6e911e.f46eb",
        "type": "inject",
        "z": "3aab9115.5baa6e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "a3b79761.2a9c48",
                "b6165a34.f51828"
            ]
        ]
    },
    {
        "id": "a3b79761.2a9c48",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "armingStatus",
                "pt": "flow",
                "to": "notArming",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "81029bc6.bb4d08",
        "type": "ui_button",
        "z": "3aab9115.5baa6e",
        "name": "",
        "group": "86203d9c.beda1",
        "order": 1,
        "width": "2",
        "height": "2",
        "passthru": false,
        "label": "1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "45d0628.327bd9c"
            ]
        ]
    },
    {
        "id": "4a004d44.23ecb4",
        "type": "server-state-changed",
        "z": "3aab9115.5baa6e",
        "name": "Alarm Armed",
        "server": "4ee348e3.abe878",
        "version": 1,
        "entityidfilter": "input_boolean.alarm",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "1e32c0c9.fbdd0f",
                "580d952c.62585c"
            ]
        ]
    },
    {
        "id": "6edd8b2d.296754",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "\"alarm armed\"",
        "rules": [
            {
                "t": "set",
                "p": "alarmStatus",
                "pt": "flow",
                "to": "Armed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm Armed!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "armingStatus",
                "pt": "flow",
                "to": "notArming",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "f77067fa.f51e68"
            ]
        ]
    },
    {
        "id": "f77067fa.f51e68",
        "type": "ui_audio",
        "z": "3aab9115.5baa6e",
        "name": "Alarm Armed",
        "group": "86203d9c.beda1",
        "voice": "en-US",
        "always": "",
        "x": 1450,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6165a34.f51828",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alarmCode",
                "pt": "flow",
                "to": "0000",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f68bed05.7a7d7",
        "type": "trigger",
        "z": "3aab9115.5baa6e",
        "op1": "Incorrect!",
        "op2": "alarmStatus",
        "op1type": "str",
        "op2type": "flow",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 400,
        "y": 340,
        "wires": [
            [
                "58725688.1177f8",
                "ddf9e1d1.c41aa"
            ]
        ]
    },
    {
        "id": "58725688.1177f8",
        "type": "ui_audio",
        "z": "3aab9115.5baa6e",
        "name": "Incorrect Code",
        "group": "86203d9c.beda1",
        "voice": "en-US",
        "always": "",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "457cd027.2085c",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Color Mapping",
        "func": "switch (msg.message) {\n\ncase \"Disarmed\" : \n    msg.color = \"lime\";\n    break;\n    \ncase \"Armed\" : \n    msg.color = \"red\";\n    break;\n   \ncase \"Cancelled\" : \n    msg.color = \"yellow\";\n    break;\n   \ncase \"Arming\" : \n    msg.color = \"yellow\";\n    break;\n    \ncase \"Incorrect!\" : \n    msg.color = \"yellow\";\n    break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "c9027288.0b20a"
            ]
        ]
    },
    {
        "id": "ddf9e1d1.c41aa",
        "type": "change",
        "z": "3aab9115.5baa6e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "message",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "currentAlarm",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 380,
        "wires": [
            [
                "457cd027.2085c"
            ]
        ]
    },
    {
        "id": "7b9edc44.cb8f44",
        "type": "inject",
        "z": "3aab9115.5baa6e",
        "name": "",
        "topic": "",
        "payload": "currentAlarm",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "ddf9e1d1.c41aa"
            ]
        ]
    },
    {
        "id": "1e32c0c9.fbdd0f",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Sync/Rename State Change",
        "func": "if (msg.payload === \"on\") {\n    flow.set(\"alarmStatus\", \"Armed\")\n    msg.payload = \"Armed\";\n}\nelse if (msg.payload === \"off\") {\n    flow.set(\"alarmStatus\", \"Disarmed\")\n    msg.payload = \"Disarmed\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 440,
        "wires": [
            [
                "ddf9e1d1.c41aa"
            ]
        ]
    },
    {
        "id": "dcf5d871.166938",
        "type": "ui_text",
        "z": "3aab9115.5baa6e",
        "group": "f542270d.273378",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "Dispay",
        "label": "Front Door",
        "format": "<font color= {{msg.color}} > {{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 430,
        "y": 720,
        "wires": []
    },
    {
        "id": "20003128.df4ede",
        "type": "server-state-changed",
        "z": "3aab9115.5baa6e",
        "name": "Front Door",
        "server": "4ee348e3.abe878",
        "version": 1,
        "entityidfilter": "binary_sensor.front_door",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 100,
        "y": 720,
        "wires": [
            [
                "bcc0a24d.3abac"
            ]
        ]
    },
    {
        "id": "4d7729bf.bb1e18",
        "type": "ui_text",
        "z": "3aab9115.5baa6e",
        "group": "f542270d.273378",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "Dispay",
        "label": "Back Door",
        "format": "<font color= {{msg.color}} > {{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 430,
        "y": 760,
        "wires": []
    },
    {
        "id": "bd1628e2.c82418",
        "type": "server-state-changed",
        "z": "3aab9115.5baa6e",
        "name": "Back Door",
        "server": "4ee348e3.abe878",
        "version": "1",
        "entityidfilter": "binary_sensor.sliding_glass_door",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 100,
        "y": 760,
        "wires": [
            [
                "6a94a7e1.830398"
            ]
        ]
    },
    {
        "id": "89c80d77.5cd9b",
        "type": "ui_text",
        "z": "3aab9115.5baa6e",
        "group": "f542270d.273378",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "Dispay",
        "label": "North Gate",
        "format": "<font color= {{msg.color}} > {{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 430,
        "y": 800,
        "wires": []
    },
    {
        "id": "3bdd0847.343e18",
        "type": "server-state-changed",
        "z": "3aab9115.5baa6e",
        "name": "North Gate",
        "server": "4ee348e3.abe878",
        "version": "1",
        "entityidfilter": "binary_sensor.hittel_gate",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 100,
        "y": 800,
        "wires": [
            [
                "663d24d5.69129c"
            ]
        ]
    },
    {
        "id": "7cf7a33b.d2ecdc",
        "type": "ui_text",
        "z": "3aab9115.5baa6e",
        "group": "f542270d.273378",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "Dispay",
        "label": "Front Door",
        "format": "<font color= {{msg.color}} > {{msg.payload}} </font>",
        "layout": "row-spread",
        "x": 430,
        "y": 840,
        "wires": []
    },
    {
        "id": "1dc0e958.778da7",
        "type": "server-state-changed",
        "z": "3aab9115.5baa6e",
        "name": "South Gate",
        "server": "4ee348e3.abe878",
        "version": "1",
        "entityidfilter": "binary_sensor.zeier_gate",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "x": 100,
        "y": 840,
        "wires": [
            [
                "763b1b3.44c44e4"
            ]
        ]
    },
    {
        "id": "bcc0a24d.3abac",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Change It",
        "func": "if(msg.payload == \"off\")\n{\n    msg.payload = \"Closed\";\n    msg.color = \"lime\";\n}\nif(msg.payload == \"off\")\n{\n    msg.payload = \"Open\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 720,
        "wires": [
            [
                "dcf5d871.166938"
            ]
        ]
    },
    {
        "id": "6a94a7e1.830398",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Change It",
        "func": "if(msg.payload == \"off\")\n{\n    msg.payload = \"Closed\";\n    msg.color = \"lime\";\n}\nif(msg.payload == \"off\")\n{\n    msg.payload = \"Open\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 760,
        "wires": [
            [
                "4d7729bf.bb1e18"
            ]
        ]
    },
    {
        "id": "663d24d5.69129c",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Change It",
        "func": "if(msg.payload == \"off\")\n{\n    msg.payload = \"Closed\";\n    msg.color = \"lime\";\n}\nif(msg.payload == \"off\")\n{\n    msg.payload = \"Open\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "89c80d77.5cd9b"
            ]
        ]
    },
    {
        "id": "763b1b3.44c44e4",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Change It",
        "func": "if(msg.payload == \"off\")\n{\n    msg.payload = \"Closed\";\n    msg.color = \"lime\";\n}\nif(msg.payload == \"off\")\n{\n    msg.payload = \"Open\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 840,
        "wires": [
            [
                "7cf7a33b.d2ecdc"
            ]
        ]
    },
    {
        "id": "580d952c.62585c",
        "type": "function",
        "z": "3aab9115.5baa6e",
        "name": "Notification",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\": \"Alarm \" + flow.get(\"alarmStatus\") + \"!\",\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 5,\n        \"category\": \"siren\"\n      },\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "86203d9c.beda1",
        "type": "ui_group",
        "z": "",
        "name": "New Alarm Panel",
        "tab": "55369c29.7ac9d4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4ee348e3.abe878",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    },
    {
        "id": "f542270d.273378",
        "type": "ui_group",
        "z": "",
        "name": "Door Status",
        "tab": "aa9e4769.dfa8e8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "55369c29.7ac9d4",
        "type": "ui_tab",
        "z": "",
        "name": "Alarm Panel",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "aa9e4769.dfa8e8",
        "type": "ui_tab",
        "z": "",
        "name": "Pool Controls",
        "icon": "dashboard",
        "order": 2
    }
]
